<div id="root">
  <h1>StaticPagesRoot view</h1>
</div>



<script>
  window.images = {
  event_1: '<%= image_url('event_1.jpg') %>',
  event_2: '<%= image_url('event_2.jpg') %>',
  event_3: '<%= image_url('event_3.jpg') %>',
  event_5: '<%= image_url('event_5.jpg') %>',
  body_positive: '<%= image_url('body_positive.jpg') %>',
  checkpoint: '<%= image_url('checkpoint.jpg') %>',
  food_waste: '<%= image_url('food_waste.jpg') %>',
  nature: '<%= image_url('nature.jpg') %>',
  night_market: '<%= image_url('night_market.jpg') %>',
  pipeline_2: '<%= image_url('pipeline_2.jpg') %>',
  policing_black_lives: '<%= image_url('policing_black_lives.jpg') %>',
  queer_swim: '<%= image_url('queer_swim.jpg') %>',
  rise_up: '<%= image_url('rise_up.jpg') %>',
  witches: '<%= image_url('witches.jpg') %>',
  women_and_trans_open_mic: '<%= image_url('women_and_trans_open_mic.jpg') %>',
  womens_convention: '<%= image_url('womens_convention.jpg') %>',
  
  }
</script>