<div id="root">
  <h1>StaticPagesRoot view</h1>
</div>



<script>
  window.images = {
  event_1: '<%= asset_path('event_1.jpg') %>',
  event_2: '<%= asset_path('event_2.jpg') %>',
  event_3: '<%= asset_path('event_3.jpg') %>',
  event_5: '<%= asset_path('event_5.jpg') %>',
  body_positive: '<%= asset_path('body_positive.jpg') %>',
  checkpoint: '<%= asset_path('checkpoint.jpg') %>',
  food_waste: '<%= asset_path('food_waste.jpg') %>',
  nature: '<%= asset_path('nature.jpg') %>',
  night_market: '<%= asset_path('night_market.jpg') %>',
  pipeline_2: '<%= asset_path('pipeline_2.jpg') %>',
  policing_black_lives: '<%= asset_path('policing_black_lives.jpg') %>',
  queer_swim: '<%= asset_path('queer_swim.jpg') %>',
  rise_up: '<%= asset_path('rise_up.jpg') %>',
  witches: '<%= asset_path('witches.jpg') %>',
  women_and_trans_open_mic: '<%= asset_path('women_and_trans_open_mic.jpg') %>',
  womens_convention: '<%= asset_path('womens_convention.jpg') %>',
  
  }
</script>