<!DOCTYPE html>
<html>
  <head>
    <title>Activistbrite</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <% if current_user %>
      <script>
        window.currentUser = { 
          "id": <%= current_user.id %>
          };
      </script>
    <% end %>
    <meta name="viewport" content="width=device-width, initial-scale=1" /> 
  </head>

  <body>
    <%= flash[:errors].join("<br>").html_safe if flash[:errors] %>

    <%= yield %>
  </body>
</html>
